/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    color: #526066;
}

h2, h3 {
    letter-spacing: 0.25em;
    text-transform: uppercase;
    font-weight: 600;
}

p {
    line-height: 1.6em;
}


/*
 * -- Layout Styles --
 */
.l-content {
    margin: 0 auto;
	background-color: rgb(215, 215, 212);
}

.l-box {
    padding: 0.5em 2em;
}

/*
 * -- MENU STYLES --
 * Make the menu have a very faint box-shadow.
 */
.pure-menu {
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}


/*
 * -- BANNER --
 * The top banner with the headings. By using a combination
 * of `display: table;` and `display: table-cell;`, we can
 * vertically center the text.
 */

.banner {
    background: transparent url('/assets/skinStartupEcosystem/BGRfrma.jpg') 0 0 no-repeat fixed;
    text-align: center;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/skinStartupEcosystem/BGRfrma.jpg', sizingMethod='scale');

    height: 200px;
    width: 100%;
    margin-bottom: 3em;
    display: table;
}

    .banner-head {
        display: table-cell;
        vertical-align: middle;
        margin-bottom: 0;
        font-size: 2em;
        color: white;
        font-weight: 500;
        text-shadow: 0 1px 1px black;
    }
/*
 * -- STAGE WRAPPER --
 * This element wraps up all the stage table elements
 */
 .stages-tables,
 .information {
    max-width: 980px;
    margin: 0 auto;
	padding-left: 3px;
 }
.stages-tables {
    margin-bottom: 0.425em;
    text-align: center;
}

/*
 * -- STAGE TABLE  --
 * Every stage table has the .stage class
 */
.stage-table {
    margin: 0px .1em .0em;
    padding: 0 0 0em;
	padding-bottom: .6em;
	
}

/*
 * -- STAGE TABLE HEADER COLORS --
 * Choose a different color based on the type of stage table.
 */

.stage-table-idea .stage-table-header {
	margin: 0 auto;
	padding-top: 0.8em;
	font-size: 1.3em;
	font-weight: bold;
    background: #E20C1C;
	text-align: left;
	padding-bottom: 1em;
	padding-left: 1em;
	
}

.stage-table-inspire .stage-table-header {
    background: #58A325;
}

.stage-table-educate .stage-table-header {
    background: #2E46E8;
}

.stage-table-validate .stage-table-header {
    background: #0D0D0D;
}

.stage-table-evangelists .stage-table-header {

	padding-bottom: 1.8em;
	background-image: url("/assets/skinStartupEcosystem/evangelists.jpg");
	background: #E017D6;
}

.fondo {
	background: #E017D6;
	background-image: url("/assets/skinStartupEcosystem/evangelists.jpg");
	background-repeat: no-repeat;
	background-size: 65px 237px;
	background-position: center;
}

/*
 * -- STAGE TABLE HEADER --
 * By default, a header is black/white, and has some styles for its <h2> name.
 */
.stage-table-header {
	padding-top: .4em;
	padding-bottom: .4em;
    background: #CF2854;
    color: #fff;
}
    .stage-table-header h2 {
        margin: 0;
        padding-top: .5em;
        font-size: 1.2em;
        font-weight: normal;

    }



/*
 * -- STAGE TABLE PRICE --
 * Styles for the price and the corresponding <span>per month</span>
 */
.stage-table-price {
    font-size: 1.4em;
    margin: 0.2em 0 0;
    font-weight: 100;
	background-image: url('corregir.../assets/skinStartupEcosystem/idea.png');
	background-size: contain;
}
    .stage-table-price span {
        display: block;
        text-transform: uppercase;
        font-size: 0.2em;
        padding-bottom: 2em;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.5);
        *color: #fff;
    }



/*
 * -- STAGE TABLE LIST --
 * Each stage table has a <ul> which is denoted by the .stage-list class
 */
.stage-table-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}


/*
 * -- STAGE TABLE LIST ELEMENTS --
 * Styles for the individual list elements within each stage table
 */
.stage-table-list li {
    padding: 0.4em 0;
	text-align: left;
	padding-left: .3em;
    background: #f7f7f7;
    /*border-bottom: 1px solid #e7e7e7;*/
}


/*
 * -- STAGE TABLE BUTTON --
 * Styles for the "Choose" button at the bottom of a stage table.
 * This inherits from Pure Button.
 */
.button-choose {
    border: 1px solid #ccc;
    background: #fff;
    color: #333;
    border-radius: 2em;
    font-weight: bold;
    position: relative;
    bottom: -1.5em;
}

.information-head {
    color: black;
    font-weight: 500;
}

.footer {
    background: #111;
    color: #888;
    text-align: center;
}
    .footer a {
        color: #ddd;
    }
	
	
	/*
	 * -- TOOLTIP --
	 * Styles for the Tooltip
	 */
	
	a.tooltip {outline:none; }
	a.tooltip strong {line-height:30px;}
	a.tooltip:hover {text-decoration:none;} 
	a.tooltip span {
	    z-index:10;display:none; padding:14px 20px;
	    margin-top:60px; margin-left:-160px;
	    width:300px; line-height:16px;
	}
	a.tooltip:hover span{
	    display:inline; position:absolute; 
	    border:2px solid #FFF;  color:#EEE;
	    background:#333 url(cssttp/css-tooltip-gradient-bg.png) repeat-x 0 0;
	}
	.callout {z-index:20;position:absolute;border:0;top:-14px;left:120px;}
    
	/*CSS3 extras*/
	a.tooltip span
	{
	    border-radius:2px;        
	    box-shadow: 0px 0px 8px 4px #666;
	    /*opacity: 0.8;*/
	}	
