/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    color: #526066;
}

h2, h3 {
    letter-spacing: 0.25em;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1em;
    color: white;
    margin-left: 13px;
}

p {
    line-height: 1.6em;
}


/*
 * -- Layout Styles --
 */
.l-content {
    margin: 0 auto;
	background-color: rgb(215, 215, 212);
	width: 100%;
}

.l-box {
    padding: 6px;
	margin-top: 45px;
	background-color: white;
}

/*
 * -- MENU STYLES --
 * Make the menu have a very faint box-shadow.
 */
.pure-menu {
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}


/*
 * -- BANNER --
 * The top banner with the headings. By using a combination
 * of `display: table;` and `display: table-cell;`, we can
 * vertically center the text.
 */

.banner {
    background: transparent url('/assets/skinStartupEcosystem/BGRfrma.jpg') 0 0 no-repeat fixed;
    text-align: center;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/skinStartupEcosystem/BGRfrma.jpg', sizingMethod='scale');

    height: 200px;
    width: 100%;
    margin-bottom: 3em;
    display: table;
}

    .banner-head {
        display: table-cell;
        vertical-align: middle;
        margin-bottom: 0;
        font-size: 2em;
        color: white;
        font-weight: 500;
        text-shadow: 0 1px 1px black;
    }
/*
 * -- STAGE WRAPPER --
 * This element wraps up all the stage table elements
 */
 .main-content {
    max-width: 100%;
    margin: 0px	;
	padding: 0px;	
    text-align: left;
	background: #B8B3B3;
 }

/*
 * -- STAGE TABLE  --
 * Every stage table has the .stage class
 */
.stage-table
 {
	background: white;
	margin: 15px;
	margin-bottom: 0;
	padding-bottom: 0;
    padding: 0 0 0em;
	box-shadow: 3px 3px 1px rgb(82, 83, 100);
}

.stage-table-idea {

}

.stage-table-launch {
	background: green;
}

.stage-table-growth {
	background: blue;
}

/*
 * -- STAGE TABLE HEADER --
 * By default, a header is black/white, and has some styles for its <h2> name.
 */
.stage-table-header,
.stage-table-header-idea,
.stage-table-header-launch,
.stage-table-header-growth,
.stage-table-global-resources
 {
	padding-top: 0em;
	padding-bottom: 0em;
    background: #E20C1C;
    color: #fff;
}
    .stage-table-header h2 {
        margin: 0;
		margin-top: -30px;
        padding-top: .2em;
        font-size: 1.2em;
        font-weight: bold;
		  padding: 20px;
		  font-size: 1em;
		  color: white;
		  margin-left: 13PX;
    }

.stage-table-header-launch {
	background: green;
}

.stage-table-header-growth {
	background: blue;
}

.stage-table-global-resources {
	background: gray;
}

/*
 * -- STAGE TABLE HEADER COLORS --
 * Choose a different color based on the type of stage table.
 */

.stage-table-idea .stage-table-header {
	margin: 0 auto;
	padding-top: 0.8em;
	font-size: 1em;
	font-weight: bold;
	text-align: left;
	padding-bottom: 0em;
	padding-left: 1em;
	background: #58A325;
	
}

.stage-table-inspire {
    background: #E84684;
}

.stage-table-educate {
    background: #E84684;
}

.stage-table-validate  {
    background: #E84684;
}

.stage-table-evangelists  {
	margin-top: 15px;
	padding-bottom: 0em;
	background-image: url("/assets/skinStartupEcosystem/evangelists.jpg");
	background: #E017D6;
}

.fondo {
	background: #E017D6;
	background-image: url("/assets/skinStartupEcosystem/evangelists.jpg");
	background-repeat: no-repeat;
	background-size: 65px 237px;
	background-position: center;
	  height: 13em;
}





/*
 * -- STAGE TABLE PRICE --
 * Styles for the price and the corresponding <span>per month</span>
 */
.stage-table-price {
    font-size: 1.4em;
    margin: 0.2em 0 0;
    font-weight: 100;
	background-image: url('corregir.../assets/skinStartupEcosystem/idea.png');
	background-size: contain;
}
    .stage-table-price span {
        display: block;
        text-transform: uppercase;
        font-size: 0.2em;
        padding-bottom: 0em;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.5);
        *color: #fff;
    }



/*
 * -- STAGE TABLE LIST --
 * Each stage table has a <ul> which is denoted by the .stage-list class
 */
.stage-table-list {
	margin-top: 15px;
	background: white;
    padding: 0;
    text-align: center;
	color: black;
	font-size: .9em;
}


/*
 * -- STAGE TABLE LIST ELEMENTS --
 * Styles for the individual list elements within each stage table
 */
.stage-table-list li {
    padding: 0.4em 0;
	text-align: left;
	padding-left: .3em;
    list-style-type: none;
    background: white;
    /*border-bottom: 1px solid #e7e7e7;*/
}

.stage-table-list table {
    padding: 0.4em 0;
	text-align: left;
	padding-left: .3em;
    list-style-type: none;
    background: white;
    /*border-bottom: 1px solid #e7e7e7;*/
}

.lista-evangelistas{
	margin-left: -19px;
}


/*
 * -- STAGE TABLE BUTTON --
 * Styles for the "Choose" button at the bottom of a stage table.
 * This inherits from Pure Button.
 */
.button-choose {
    border: 1px solid #ccc;
    background: #fff;
    color: #333;
    border-radius: 2em;
    font-weight: bold;
    position: relative;
    bottom: -0.5em;
}

.information-head {
    color: black;
    font-weight: 500;
}

.footer {
    background: #111;
    color: #888;
    text-align: center;
}
    .footer a {
        color: #ddd;
    }
	
	
	/*
	 * -- TOOLTIP --
	 * Styles for the Tooltip
	 */
	
	a.tooltip {outline:none; }
	a.tooltip strong {line-height:30px;}
	a.tooltip:hover {text-decoration:none;} 
	a.tooltip span {
	    z-index:10;display:none; padding:14px 20px;
	    margin-top:60px; margin-left:-160px;
	    width:300px; line-height:16px;
	}
	a.tooltip:hover span{
	    display:inline; position:absolute; 
	    border:2px solid #FFF;  color:#EEE;
	    background:#333 url(cssttp/css-tooltip-gradient-bg.png) repeat-x 0 0;
	}
	.callout {z-index:20;position:absolute;border:0;top:-14px;left:120px;}
    
	/*CSS3 extras*/
	a.tooltip span
	{
	    border-radius:2px;        
	    box-shadow: 0px 0px 8px 4px #666;
	    /*opacity: 0.8;*/
	}	





	.pure-u-1,
	.pure-u-1-1,
	.pure-u-1-5,
	.pure-u-2-5,
	.pure-u-3-5,
	.pure-u-4-5,
	.pure-u-5-5 {
	    display: inline-block;
	    *display: inline;
	    zoom: 1;
	    letter-spacing: normal;
	    word-spacing: normal;
	    vertical-align: top;
	    text-rendering: auto;
	}

	.pure-u-1-5 {
	    width: 20%;
	    *width: 19.9690%;
	}

	.pure-u-2-5 {
	    width: 40%;
	    *width: 39.9690%;
	}

	.pure-u-3-5 {
	    width: 60%;
	    *width: 59.9690%;
	}

	.pure-u-4-5 {
	    width: 80%;
	    *width: 79.9690%;
	}

	.pure-u-1,
	.pure-u-1-1,
	.pure-u-5-5 {
	    width: 100%;
	}

	@media screen and (min-width: 48em) {
	    .pure-u-md-1,
	    .pure-u-md-1-1,
	    .pure-u-md-1-5,
	    .pure-u-md-2-5,
	    .pure-u-md-3-5,
	    .pure-u-md-4-5,
	    .pure-u-md-5-5 {
	        display: inline-block;
	        *display: inline;
	        zoom: 1;
	        letter-spacing: normal;
	        word-spacing: normal;
	        vertical-align: top;
	        text-rendering: auto;
	    }

	    .pure-u-md-1-5 {
	        width: 20%;
	        *width: 19.9690%;
	    }

	    .pure-u-md-2-5 {
	        width: 40%;
	        *width: 39.9690%;
	    }

	    .pure-u-md-3-5 {
	        width: 60%;
	        *width: 59.9690%;
	    }

	    .pure-u-md-4-5 {
	        width: 80%;
	        *width: 79.9690%;
	    }

	    .pure-u-md-1,
	    .pure-u-md-1-1,
	    .pure-u-md-5-5 {
	        width: 100%;
	    }
	}

	@media screen and (min-width: 80em) {
	    .pure-u-xl-1,
	    .pure-u-xl-1-1,
	    .pure-u-xl-1-5,
	    .pure-u-xl-2-5,
	    .pure-u-xl-3-5,
	    .pure-u-xl-4-5,
	    .pure-u-xl-5-5 {
	        display: inline-block;
	        *display: inline;
	        zoom: 1;
	        letter-spacing: normal;
	        word-spacing: normal;
	        vertical-align: top;
	        text-rendering: auto;
	    }

	    .pure-u-xl-1-5 {
	        width: 20%;
	        *width: 19.9690%;
	    }

	    .pure-u-xl-2-5 {
	        width: 40%;
	        *width: 39.9690%;
	    }

	    .pure-u-xl-3-5 {
	        width: 60%;
	        *width: 59.9690%;
	    }

	    .pure-u-xl-4-5 {
	        width: 80%;
	        *width: 79.9690%;
	    }

	    .pure-u-xl-1,
	    .pure-u-xl-1-1,
	    .pure-u-xl-5-5 {
	        width: 100%;
	    }
	}

